@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 250px;
    height: 100vh;
    background-color: #77c850;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.name {
    margin: 2rem;
    font-size: 2rem;
}

.type {
    background-color: hsla(0, 0%, 0%, 0.356);  
    padding: .5rem;
    margin: 2rem 2rem;
    border-radius: 35px;
}

.type:nth-last-child(1) {
    margin: 0;

}

.id {
    font-weight: 600;
    margin: 2rem;
}

img {
    max-width: 300px;
    margin: 5rem auto -2rem;
    z-index: 2;

}

.description {
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 30px 30px 0 0;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}

.menuitem {
    border-bottom: solid 4px blueviolet;
    font-size: 1.5rem;
    font-weight: 800;
    color: blueviolet;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}

.statsitem {
    display: flex;
    align-items: center;
    margin: 1.5rem;
    gap: 5rem;
}

.descriptionTitle {
    font-size: 1rem;
    font-weight: 600;
}

.descriptiondirect {
    font-size: 1.5rem;
}